# macOS system files
.DS_Store
.AppleDouble
.LSOverride

# Xcode specific
build/
DerivedData/
*.xcworkspace
xcuserdata/
*.xccheckout
*.xcscmblueprint
*.moved-aside
*.xcuserstate

# Swift Package Manager
.build/
Package.resolved

# CocoaPods
Pods/
Podfile.lock

# Carthage
Carthage/Build/

# Fastlane
fastlane/report.xml
fastlane/Preview.html
fastlane/screenshots/**/*.png
fastlane/test_output
fastlane/*.env

